.footer {
  background-color: purple; /* Dark Gray */
  color: #9ca3af; /* Gray-400 */
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push content to bottom */
  height: 150px; /* Adjust as needed */
}

.footer p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center; /* vertical align icons properly */
}

.social-links a {
  color: #9ca3af;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.social-links a:hover {
  color: #8b5cf6; /* Indigo */
  transform: scale(1.2);
}

