.skills {
  min-height: auto;
  color: white;
  padding: 5rem 2rem;
    background-color: hsl(221, 87%, 65%);
}

.skills h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: blue;
}

.skill-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
}

.skill-card {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  color: gray;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: #1562e0;
  color: black;
}

.skill-card h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.skill-card svg {
  width: 60px;
  height: 60px;
}
